---
import { db, Blogs, Comment, column, eq } from "astro:db";
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/Layout.astro";
// Fetch blog posts with comments
const blogPosts = await db
  .select()
  .from(Blogs)
  .leftJoin(Comment, eq(Blogs.commentId, Comment.id));
---

<Layout>
  <div class="container">
    <h1>Blog</h1>
    {
      blogPosts.map((blog) => (
        <BlogPost
          title={blog.Blogs.title}
          blogBody={blog.Blogs.blogBody}
          comment={{
            author: blog.Comment?.author || "Anonymous",
            body: blog.Comment?.body || "No comments yet",
          }}
        />
      ))
    }
  </div>
</Layout>
